@media screen and (max-width: 1024px) {
	.mobile-hide{display: none !important;}

}
@media screen and (max-width: 800px) {
	.header .navigation .navigation__column.left {
		width: 35%;overflow: hidden;
	}.header .navigation .navigation__column.right {
		width: 65%;text-align: right;
	}
}

@media screen and (max-width: 768px) {
	/*Setup*/
	body{font-size:18px;}
	/*Row and divide*/
	.col-divide-md-12{flex:auto;max-width:100%}.col-divide-md-6{flex:auto;max-width:48%}.col-divide-md-4{flex:auto;max-width:32%}.col-divide-md-3{flex:auto;max-width:24%}.title--section{font-size:30px;margin:22px 0}
	/*End*/
}

@media screen and (max-width: 438px) {
	/*Setup*/
	body { transition: background-color .5s;font-size:16px; }
	/*Row and divide*/
	.col-divide-sm-12 { flex: auto; max-width: 100%; }
	.col-divide-sm-6 { flex: auto; max-width: 48%; }
	.col-divide-sm-4 {flex: auto; max-width: 32%;}
	.col-divide-sm-3 {flex: auto; max-width: 24%;}
	/*Row and divide*/
	/*Setup*/
  .mc-h{height: 400px;}
}